## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [14]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.reset_index()
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Emerald,AU,-23.5333,148.1667,69.35,30,0,8.05,clear sky
1,1,Saldanha,ZA,-33.0117,17.9442,65.75,34,29,20.78,scattered clouds
2,2,Bluff,NZ,-46.6000,168.3333,49.80,72,81,4.14,broken clouds
3,3,Kyshtovka,RU,56.5550,76.6271,66.16,62,27,14.18,scattered clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.17,82,77,14.14,broken clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Xiongzhou,CN,25.1167,114.3000,85.75,51,1,2.71,clear sky
694,694,Giresun,TR,40.5000,38.5000,33.12,95,100,3.06,light snow
695,695,Moussoro,TD,13.6408,16.4901,88.07,46,88,6.42,overcast clouds
696,696,Mollendo,PE,-17.0231,-72.0147,61.83,89,93,6.78,overcast clouds
697,697,Praia,CV,14.9215,-23.5087,73.94,68,0,18.41,clear sky

In [15]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
4,4,Rikitea,PF,-23.1203,-134.9692,76.17,82,77,14.14,broken clouds
9,9,Santo Tomas,PH,14.1079,121.1414,89.58,51,100,6.38,overcast clouds
10,10,Saint-Philippe,RE,-21.3585,55.7679,75.47,81,63,0.63,light rain
15,15,Padang,ID,-0.9492,100.3543,84.85,61,82,3.69,broken clouds
26,26,Vaini,TO,-21.2000,-175.2000,77.16,73,75,1.14,broken clouds
27,27,Kavieng,PG,-2.5744,150.7967,82.29,75,100,0.94,moderate rain
28,28,Butaritari,KI,3.0707,172.7902,82.67,74,30,7.16,light rain
34,34,Sturgis,US,41.7992,-85.4192,76.80,34,1,6.91,clear sky
40,40,Kelo,TD,9.3086,15.8066,78.19,64,99,3.44,overcast clouds
42,42,Soyo,AO,-6.1349,12.3689,75.97,90,62,6.51,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                222
City                   222
Country                221
Lat                    222
Lng                    222
Max Temp               222
Humidity               222
Cloudiness             222
Wind Speed             222
Weather Description    222
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
4,4,Rikitea,PF,-23.1203,-134.9692,76.17,82,77,14.14,broken clouds
9,9,Santo Tomas,PH,14.1079,121.1414,89.58,51,100,6.38,overcast clouds
10,10,Saint-Philippe,RE,-21.3585,55.7679,75.47,81,63,0.63,light rain
15,15,Padang,ID,-0.9492,100.3543,84.85,61,82,3.69,broken clouds
26,26,Vaini,TO,-21.2000,-175.2000,77.16,73,75,1.14,broken clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Rikitea,PF,76.17,broken clouds,-23.1203,-134.9692,
9,Santo Tomas,PH,89.58,overcast clouds,14.1079,121.1414,
10,Saint-Philippe,RE,75.47,light rain,-21.3585,55.7679,
15,Padang,ID,84.85,broken clouds,-0.9492,100.3543,
26,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
27,Kavieng,PG,82.29,moderate rain,-2.5744,150.7967,
28,Butaritari,KI,82.67,light rain,3.0707,172.7902,
34,Sturgis,US,76.80,clear sky,41.7992,-85.4192,
40,Kelo,TD,78.19,overcast clouds,9.3086,15.8066,
42,Soyo,AO,75.97,broken clouds,-6.1349,12.3689,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np

hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
clean_hotel_df = hotel_df
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Rikitea,PF,76.17,broken clouds,-23.1203,-134.9692,Pension Maro'i
9,Santo Tomas,PH,89.58,overcast clouds,14.1079,121.1414,Microtel by Wyndham Batangas
10,Saint-Philippe,RE,75.47,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
15,Padang,ID,84.85,broken clouds,-0.9492,100.3543,Mercure Padang
26,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
673,Bengkulu,ID,83.44,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
677,Tema,GH,79.21,clear sky,5.6670,-0.0166,Beulah Royale
681,Weligama,LK,83.91,broken clouds,5.9667,80.4167,Weligama Bay Resort
693,Xiongzhou,CN,85.75,clear sky,25.1167,114.3000,Xinhewan Business Hotel
695,Moussoro,TD,88.07,overcast clouds,13.6408,16.4901,Pharmacie alnadja Moussoro

In [38]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [39]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dt>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(35.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))