## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os 

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,4,Rikitea,PF,76.17,broken clouds,-23.1203,-134.9692,Pension Maro'i
1,9,Santo Tomas,PH,89.58,overcast clouds,14.1079,121.1414,Microtel by Wyndham Batangas
2,10,Saint-Philippe,RE,75.47,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,15,Padang,ID,84.85,broken clouds,-0.9492,100.3543,Mercure Padang
4,26,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...,...
197,673,Bengkulu,ID,83.44,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
198,677,Tema,GH,79.21,clear sky,5.6670,-0.0166,Beulah Royale
199,681,Weligama,LK,83.91,broken clouds,5.9667,80.4167,Weligama Bay Resort
200,693,Xiongzhou,CN,85.75,clear sky,25.1167,114.3000,Xinhewan Business Hotel
201,695,Moussoro,TD,88.07,overcast clouds,13.6408,16.4901,Pharmacie alnadja Moussoro

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dt>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [80]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(35.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == 'Roma']
vacation_end = vacation_df.loc[vacation_df["City"] == 'Roma']
vacation_stop1 = vacation_df.loc[vacation_df["City"] == 'Laguna']
vacation_stop2 = vacation_df.loc[vacation_df["City"] == 'Tomatlan'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == 'Mango']

In [94]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start[["Lat", "Lng"]].to_numpy
#end = vacation_end[["Lat", "Lng"]].to_numpy
#stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy
#stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy
#stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop_1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop_2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop_3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

start, stop_1, stop_2, stop_3

((43.2128, -75.4557),
 (38.421, -121.4238),
 (19.9333, -105.25),
 (27.9797, -82.3065))

In [95]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
way = gmaps.directions_layer(start,start, waypoints= [stop_1, stop_2, stop_3] , travel_mode="DRIVING")
fig.add_layer(way)
fig

Figure(layout=FigureLayout(height='420px'))

In [96]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,344,Roma,US,75.06,clear sky,43.2128,-75.4557,Wingate By Wyndham Rome
1,159,Laguna,US,84.70,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,515,Tomatlan,MX,78.85,overcast clouds,19.9333,-105.2500,Norma franco
3,47,Mango,US,81.01,clear sky,27.9797,-82.3065,Hilton Garden Inn Tampa East/Brandon

In [97]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template1 = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dt>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template1.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations1 = itinerary_df[["Lat", "Lng"]]

In [98]:
# 11a. Add a marker layer for each city to the map.
fig1 = gmaps.figure()
marker_layer_1 = gmaps.marker_layer(locations1, info_box_content= hotel_info)
fig1.add_layer(marker_layer_1)

# 11b. Display the figure
fig1

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))